<!-- <div style="height: 100%; width:100%; background-color:burlywood; padding-top: 50px; display: flex; justify-content: space-evenly; padding-bottom: 50px;">
    <div style="height: 350px; width: 480px; margin-left:35px; background-color:rgb(170, 239, 170);">
         <img style="margin-left:70px; margin-top:30px"  src="" alt="image" width="350px" >
         <br><br>
         <a routerLink="/mens" style="color: red; margin-left:150px;" >Mens</a>
         <br><br>
         <a routerLink="/mens">
         <button style="margin-left: 210px; height:35px; color: red; border-radius: 10%; width:120px; border-color: rgb(118, 75, 75);">Shop Now</button>
        </a>
    </div>
  
  
  <br><br>
     
    <div style="height: 350px; width: 480px; margin-left:35px; background-color:rgb(170, 239, 170);">
      <img style="margin-left:70px; margin-top:30px"  src="" alt="image" width="350px" >
        <a style="color: red; text-align:center;  margin-left:150px;" routerLink="/womens">Womens</a>
        <button style="margin-left: 210px; height:35px; color: red; border-radius: 10%; width:120px; border-color: rgb(118, 75, 75);">Shop Now</button>
      </div>
     <br><br>
     <div style="height: 350px; width: 480px; margin-left:35px; margin-right: 35px; background-color:rgb(170, 239, 170); ">
      <img style="margin-left:70px; margin-top:30px"  src="" alt="image" width="350px" >
        <a style="color: red; text-align:center;  margin-left:150px;" routerLink="/kids">Kids</a>
        <button style="margin-left: 210px; height:35px; color: red; border-radius: 10%; width:120px; border-color: rgb(118, 75, 75);">Shop Now</button>
      </div>
     
  </div> 
 
   -->

   <div class="add-emp">
    <a routerLink="/addcat">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Register
        Category</button>
    </a>
  </div>

  <br>
   <app-catlist></app-catlist>